<!-- <div id="deleteModal" style="display: none;">
    <div>
        <p>Are you sure you want to delete?</p>
        <button onclick="confirmDelete()">Yes</button>
        <button onclick="closeDeleteModal()">Cancel</button>
    </div>
</div> -->
<!-- <div id="deleteConfirm" class="modal-delete" > -->
<!-- Modal content -->
<!-- <div class="delete-content">
        <div class="delete-header">
            <h4>Delete Confirmation</h4>
       <span class="close" onclick="closeDialog()">&times;</span></div>
       <p id="dialog"></p>
       <div class="delete-footer">
        <button class="no" onclick="closeDialog()">No</button>
       <a href="#" id="confirmed">Yes</a>
    </div>
    </div>
</div> -->
<!-- lokasi file di partial/delete-confirm -->
<div class="notif" id="notif">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirmation</h4>
                <p class="close" onclick="off()">&times;</p>
            </div>
            <div class="modal-body">
                <p id="ask"></p>
            </div>
            <div class="modal-footer">
                <div class="btn-grp">
                    <button type="button" class="off-click" onclick="off()">No</button>
                    <a id="nextdelete" class="nextdel" href="#">Yes</a>
                </div>
            </div>

        </div>
    </div>
</div>