<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </div>
  <div class="footer">
    <div class="tbl-add">
        <a href="/add" class="tombol">
            <button class="btm-add" type="button">Add</button>
        </a>
    </div>
    <div class="tbl-edit">
      <a href="/edit" class="tombol">
          <button class="btm-add" type="button">edit</button>
      </a>
  </div>
  </body>
</html>
