.into {
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  align-items: baseline !important;
}

.list-comp {
  width: 81.2%;
  margin-left: 12px;
  margin-top: -20px;

}

.op {
  margin-top: 20px;
}

.left-comp {
  margin-top: -5px;
}

.rad-list {
  display: flex;
  align-items: baseline;
  gap: 15px;
}

.line {
  margin-top: 5px;
  border-top: 2px solid #ccc;
  padding: 5px;
  width: 100%;
}

.btn-group-search {
  margin-top: -5px;
}

.container-ava {
  border-bottom: 1px solid rgb(202, 202, 202);
  border-radius: 5px 5px 0px 0px;
  background-color: aqua;
  padding-bottom: -90px !important;
}

.ava {
  display: flex;
  align-items: center;
  gap: 30px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  background-color: #F75352;
}

.btn-out {
  display: flex;
  justify-content: flex-end;
  transform: translateY(-3em);
  margin-right: 10px;

}

.item-ava {
  transform: translateY(1em);  

}

.overdue-task {
  background-color: #F75352;
  color: white
}