<%- include('../partials/header')%>

  <body>
    <section class="vh-100" style="background-color: #f3f2f2;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">

            <div class="card-body p-5 text-center">
              <form class="container-sm" method="post">
                <img class="mb-4" src="images/logo-dark@2x.png" alt="" width="100%">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                <div class="form-floating">
                  <input type="email" class="form-control" id="floatingInput" name="email"
                    placeholder="name@example.com">
                  <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                  <input type="password" class="form-control" id="floatingPassword" name="password"
                    placeholder="Password">
                  <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating mb-2">
                  <input type="password" class="form-control" id="floatingPassword" name="repassword"
                    placeholder="Password">
                  <label for="floatingPassword">Retype Password</label>
                </div>

                <button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>

                <div class="form-check text-start my-3">
                  <p class="text-center">have a account? please <a href="/">sign in</a></p>
                  </label>
                </div>
                <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2023</p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <%- include('../partials/footer')%>